<div id="profile">
  <div class="back_block">
    <a href="../Profile/profile.hbs"><button class="back-button">
        <~ </button></a>
  </div>
  <div class="profile_block">
    <div class="profile-avatar">
      <div class="plug">
        <p class="avatar-text">
          Change avatar
        </p>
        <div class="circle"></div>
      </div>
    </div>

    <p class="profile-name">Maria</p>

    <div class="data">
      {{{ fields }}}
    </div>

    {{{ saveButton }}}

  </div>
</div>
