@import "../../static/fonts.less";
@color-text: #fff;
@color-text-gray: #cdcdcd;
@color-text-yellow: #ffc66d;

@color-label: #a9b7c6;
@color-border: #2b2b2d;

@color-bg: #1a1b1e;
@color-bg-hover: #1f2023;
@color-bg-black: #000;

@color-green: #20999d;
@color-purple: #9876aa;
@color-blue: #167dff;
@color-green-hover: #077f83;
@color-purple-hover: #794e90;
@color-blue-hover: #1c69d2;

@color-error: #f73e29;
@color-error-hover: #b12818;

@border-radius: 25px;
@input-border-radius: 5px;

body {
  margin: 0;
  font-family: "JetBrainsMono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: @color-bg;
}

.button-primary {
  font-family: "JetBrainsMono", sans-serif;
  width: 160px;
  height: 45px;
  background: @color-blue;
  border-radius: @border-radius;
  border: none;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: @color-blue-hover;
  }
}
