---
title: 'Messenger'
error_number: '500'
error_text: 'We’re already fixing'
home_link: 'Back to chats'
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="error.js" type="module"></script>
  <title>{{ title }}</title>
</head>

<body>

  <div id="error">
    <img src="../../static/smile.svg" alt="Sorry smile">
    <h3 class="error_number">{{ error_number }}</h3>
    <p class="error_text">{{ error_text }}</p>

    <div class="home_link"><a href="/">{{ home_link }}</a></div>
  </div>

</body>

</html>
