<div class="chats">

  <div class="feed">
    <div class="header">
      {{{ addChatButton }}}
      <a href="/settings" class="profile-link">Profile ></a>
      <div class="input">
        <input type="text" name="search" id="search" placeholder="Search" class="search">
        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
      </div>

    </div>

    {{{ chatsList }}}

  </div>

  {{!-- <div class="messages"> --}}
    {{!-- <div class="chat-plug">
      <p class="text">Select the chat to send a message</p>
    </div> --}}

    {{{ messenger }}}

    {{!-- </div> --}}
  {{{ addChatPopup }}}
</div>
