<div class="profile-avatar">
  <img src="{{ photo }}" alt="profile photo" class="profole-photo {{ className }}">
  <div class="plug">
    <p class="avatar-text">
      Change avatar
    </p>
    <div class="circle"></div>
  </div>
</div>
